*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:sans-serif;
}
a{
    text-decoration: none;
}

ul{
    list-style: none;
}
.container{
    max-width: 1320px ;
    width: 100%;
    padding: 0 12px ;
    margin: 0 auto;
}
/* header start */
.header{
    min-height: 100vh;
    background: red;
    display: flex;
    flex-direction: column;
}
.header__nav{
    padding: 20px 0;
    
}
.header__nav .container{
    display: flex;
    justify-content: space-between;
}
.header__list{
    display: flex;
}
.header__logo{
    font-size: 36px ;
    text-decoration: uppercase;
    color:#ffff;
}
.header__link{
    font-size: 18px ;
    color: #ffff;
    text-decoration: upppercase;
    margin-left: 30px ;
}

.header__content{
    display: flex;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    color: #ffff;
    text-transform: capitalize;
}
.header__title{
    font-size: 100px;
}
.header__txt{
    font-size: 22px ;
}


/* header and */